@(teacher: model.Teacher, course: model.Course, students: Seq[model.Student])

<!DOCTYPE html>

<html>
    <head>
        <title>Fénix - SIRS</title>
        <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/utils.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <ol class="breadcrumb">
                <li>Teacher (@teacher.name)</li>
                <li class="active">Assign grades (@course.name)</li>
            </ol>

            <form class="form-horizontal" role="form" action="@routes.Application.submitGrades" method="post">
                @for(i <- 0 to students.length - 1) {
                    <div class="form-group">
                        <label class="col-md-2 control-label">Student Username</label>
                        <div class="col-md-2">
                            <p class="form-control-static">@students(i).username</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Student Name</label>
                        <div class="col-md-2">
                            <p class="form-control-static">@students(i).name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-2 control-label">Grade</label>
                        <div class="col-md-2 student">
                            <input type="number" class="form-control" name="grades[@i].grade" placeholder="Grade" required>
                        </div>
                    </div>
                    <input name="grades[@i].username" type="hidden" value="@students(i).username">
                    <input name="grades[@i].name" type="hidden" value="@students(i).name">
                }
                <input name="courseId" type="hidden" value="@course.id">
                <input name="courseName" type="hidden" value="@course.name">
                <input name="teacherName" type="hidden" value="@teacher.name">
                <input name="teacherUsername" type="hidden" value="@teacher.username">
                <button id="submit-grades" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>