@(admin: model.User)

<!DOCTYPE html>

<html>
    <head>
        <title>Fénix - SIRS</title>
        <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <ol class="breadcrumb">
                <li>Admin (@admin.name)</li>
                <li class="active">Add Course</li>
            </ol>

            <form class="form-horizontal" role="form" action="@controllers.admin.routes.AdminController.addCourseSubmit" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-10">
                        <input type="text" name="department" class="form-control" placeholder="Department">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>
