@(admin: model.User)

<!DOCTYPE html>

<html>
    <head>
        <title>Fénix - SIRS</title>
        <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">Admin (@admin.name)</li>
            </ol>

            <div class="list-group">
                <a href="@controllers.admin.routes.AdminController.addTeacher" class="list-group-item">Add Teacher</a>
                <a href="@controllers.admin.routes.AdminController.addStudent" class="list-group-item">Add Student</a>
                <a href="@controllers.admin.routes.AdminController.addCourse" class="list-group-item">Add Course</a>
                <a href="@controllers.admin.routes.AdminController.assignTeacherToCourse" class="list-group-item">Assign Teacher To Course</a>
                <a href="@controllers.admin.routes.AdminController.assignStudentToCourse" class="list-group-item">Assign Student To Course</a>
                <a href="@controllers.admin.routes.AdminController.changeUserLevel" class="list-group-item">Change User Level</a>
            </div>
        </div>

    </body>
</html>
